.search-area {
    margin-top: -6.2rem;

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        &--title {
            background: rgba(255, 255, 255, 0.15);
            padding: 2rem 0;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;

            h3 {
                color: $color-white
            }
        }

        &--form {
            padding: 2rem;
            background-color: $color-white;
            box-shadow: 0 1.5rem 4.6rem -2.4rem rgba(0, 0, 0, 0.41);


            .fields__block {
                padding-right: 7.6rem;
                position: relative;
                display: flex;

                .fields {
                    border-radius: 1rem;
                    width: 100%;

                    .field {
                        width: 20%;
                        display: inline-block;
                        float: left;

                        .label-field {
                            font-size: 1.4rem;
                            font-weight: 500;
                            color: $color-grey-dark;
                            margin-bottom: 1rem;
                            text-align: left;
                        }

                        .field_wrap {
                            border: .15rem solid $color-grey-light-2;
                            height: 6.2rem;
                            border-right: 0;

                            .input {
                                font-size: 1.4rem;
                                font-weight: 500;
                                color: $color-dark-text-1;
                                padding-left: 2.4rem;
                                padding-right: 4.6rem;
                                display: block;
                                float: none;
                                background: none;
                                border: 0;
                                width: 100%;
                                height: 6rem;
                            }

                            &.select_field {
                                position: relative;

                                select {
                                    width: 100%;
                                    display: block;
                                    float: left;
                                    height: 6rem;
                                    border: 0;
                                    background: none;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                    font-size: 1.4rem;
                                    font-weight: 500;
                                    color: $color-dark-text-1;
                                    padding-left: 2.4rem;
                                    padding-right: 3.9rem;
                                }

                                &:after {
                                    width: 0;
                                    height: 0;
                                    border: .5rem solid transparent;
                                    border-top-color: $color-dark-text-1;
                                    border-bottom: 0;
                                    content: '';
                                    position: absolute;
                                    right: 1.7rem;
                                    top: 50%;
                                    margin-top: -.2rem;
                                }
                            }

                            &.keywords {
                                position: relative;
                                border-top-left-radius: 1rem;
                                border-bottom-left-radius: 1rem;


                            }

                            &.keywords:before {
                                width: 1.8rem;
                                height: 1.8rem;
                                background: url('./images/search-black.svg') center center no-repeat;
                                background-size: contain;
                                right: 1.8rem;
                                top: 50%;
                                margin-top: -.9rem;
                                content: '';
                                position: absolute;
                            }

                            &.calendar_field {
                                border-right: .2rem solid $color-grey-light-2;
                                position: relative;
                                border-top-right-radius: 1rem;
                                border-bottom-right-radius: 1rem;


                            }
                        }
                    }
                }

                .submit {
                    width: 6.2rem;
                    height: 6.2rem;
                    background: $color-primary;
                    border-radius: 50%;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    display: block;
                    transition: all .2s linear;

                    &:before {
                        width: 2.6rem;
                        height: 2.6rem;
                        background: url(./images/search-icon.svg) center center no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-top: -1.3rem;
                        margin-left: -1.3rem;
                        content: '';
                    }
                }

                button {
                    display: block;
                    float: left;
                    border: 0;
                    padding: 0;
                    -webkit-transition: all 0.3s ease-out;
                    -moz-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    -ms-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .single-feature {
        margin-bottom: 3rem
    }

    .single-feature .title {
        background: $color-primary-dark-hover
    }
}