// COLORS
$color-primary: #eb751d;
$color-primary-light: #eb751d;
$color-primary-dark: #b45712;


$color-primary-dark-hover: #f7631b;



$color-secondary-light: #339eba;
$color-secondary-dark: #3390a4;

$color-tertiary-light: #5e5e5e;
$color-tertiary-dark: #495456;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #e0deff;

$color-grey-dark: #777;
$color-grey-dark-2: #272727;
$color-grey-dark-3: #2e2e2e;


$color-dark-text: #222;
$color-dark-text-1: #363636;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


$margin-right-medium: 1rem;
$margin-left-medium: 1rem;
$padding-left-medium: 1rem;