@import '~bootstrap/dist/css/bootstrap.min.css';


@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";


@import './components/search.scss';
@import './components/card.scss';
@import './components/nice-select.scss';

@import './layout/header.scss';
@import './layout/footer.scss';
@import './layout/banner.scss';



.main-menu {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #39353e
}

.relative {
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}



.top-head-btn {
    background: #f7631b;
    padding: 9px 26px
}

.main-menu {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #757070;
}

.container.no-padding {
    padding-left: 0;
    padding-right: 0
}

.no-padding {
    padding: 0
}




.single-popular-carusel .thumb {
    overflow: hidden
}

.single-popular-carusel .thumb img {
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.single-popular-carusel .meta {
    margin-top: -26px;
    z-index: 2;
    position: inherit;
    padding: 0px 10px
}

.single-popular-carusel .meta p {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 0px
}

.single-popular-carusel .meta p .lnr {
    margin: 0px 5px
}

.single-popular-carusel .meta h4 {
    color: #fff
}

.single-popular-carusel .details h4 {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 20px 0px
}

.single-popular-carusel .details h4:hover {
    color: #f7631b !important
}

@media (max-width: 576px) {
    .single-popular-carusel {
        margin: 15px
    }
}

.single-popular-carusel:hover .thumb img {
    transform: scale(1.1)
}

.search-course-area {
    // background: url(../img/s-bg.jpg) center;
    background-size: cover
}

.search-course-area .overlay-bg {
    background: rgba(4, 9, 30, 0.8)
}

.search-course-area .search-course-left h1 {
    margin-bottom: 20px
}

@media (max-width: 991px) {
    .search-course-area .search-course-left h1 {
        font-size: 30px
    }
}


$h-root: 180; // try changing this :) [0-360]
$c-primary: #777;
$c-primary-text: #EEE;
$c-secondary: #eb751d;
$c-secondary-text: #222;




.container-test {
    display: inline-block;
    color: $c-primary-text;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: right;
    transform: translateY(-50%);
    width: 61.8%;
    white-space: nowrap;

    @media screen and (max-width: 36rem) {
        transform: translateY(-50%) rotate(90deg) translateX(-50%);
    }
}


.buy,
.try {
    vertical-align: middle;
}

.follow,
.share {
    display: inline-block;
    cursor: default;
    padding: 0;
    position: relative;
    text-align: center;
    order: 1;
    height: 3.2rem;

    &:hover .label {
        opacity: 0;
        transition: opacity .5s .125s ease-out;
    }

    &:hover .icon {
        border-radius: 1em;
        margin: 0 0;
    }
}

.icon,
.label {
    background-color: #777;
    line-height: 32px;
    color: #fff;
}

.label {
    border-radius: 1.4rem;
    position: absolute;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: .0816em;
    top: 0;
    right: -30px;
    left: 0;
    opacity: 1;
    pointer-events: none;
    text-transform: uppercase;
    transition: opacity .5s .75s ease-out;
}

.icon {
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    height: 1.7em;
    margin: 0 -.5em;
    transition: background-color .5s ease-out, border-radius .5s .25s ease-out, margin .5s .25s ease-out;
    width: 1.7em;
    font-size: 18px;
    line-height: 31px;

    &.first {
        border-bottom-left-radius: 1em;
        border-top-left-radius: 1em;
        margin-left: 0;
    }

    &.last {
        border-bottom-right-radius: 1em;
        border-top-right-radius: 1em;
        margin-right: 0;
    }

    &:hover {
        background-color: $c-secondary;
        color: $c-secondary-text;
    }
}

button {
    appearance: none;
    border-radius: 50%;
    border: 0;
    background-color: $c-primary;
    color: $c-primary-text;
    cursor: pointer;
    font-family: inherit;
    font-weight: 900;
    letter-spacing: .0816em;
    position: relative;
    text-transform: uppercase;
    transition: background-color .25s ease-out, transform .5s ease-out;

    &:hover {
        background-color: $c-secondary;
        color: $c-secondary-text;
    }
}

.try {
    font-size: .618rem;
    height: 3rem;
    width: 3rem;
    margin: 0 .5rem;

    &:hover {
        transform: scale(1.3333);

        .text {
            display: inline-block;
            transform: scale(.75);
        }

        ~.buy {
            transform: scale(.75);
        }
    }

    .text {
        transition: transform .5s ease-out;
        transform: scale(1);
    }
}

.buy {
    width: 5rem;
    height: 5rem;
    background-color: $c-secondary;
    color: $c-secondary-text;

    &:hover {}

    .price,
    .text {
        transition: opacity .25s ease-out;
    }

    .price {
        font-size: 1.618em;
        opacity: 1;
    }

    .text {
        display: block;
        font-size: .618em;
        font-weight: 900;
        letter-spacing: .0816em;
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        vertical-align: baseline;
    }

    &:hover .price {
        opacity: 0;
    }

    &:hover .text {
        opacity: 1;
    }
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0
}

#colorlib-subscribe {
    padding: 2em 0;
    position: relative;
    overflow: hidden;
    z-index: 0;
}



#colorlib-subscribe:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}


.current {
    color: rgba(255, 255, 255, 0.54);
    pointer-events: none;
}

.wrap_float {
    float: left;
    text-align: left
}



.breadcrumbs {
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 50px;
    padding: 14px 0;
    z-index: 1;
    width: 100%;
    clear: both;

    &__first {
        color: $color-primary
    }
}

@media screen and (max-width: 1600px) {
    .breadcrumbs {
        top: 63px;
    }
}

.single-page.tour-single {
    padding-bottom: 0;
}

@media screen and (max-width: 1440px) {
    .single-page {
        padding-top: 0px;
    }
}

.single-page .content-head {
    padding-bottom: 10px;
}

@media screen and (max-width: 1400px) {
    .page_content.tour-single .main {
        max-width: 500px;
    }
}

.page_content.tour-single .main {
    width: 500px;
}

.single-page .main .title {
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 20px;

}

.single-page .main .short_description {
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
}

.short_description li {
    font-size: 1.3rem;
    color: #fff;
    width: 50%;
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
    float: left;
}

.single-page .main .short_description li.time:before {
    width: 25px;
    height: 25px;
    background-image: url('http://traveline.hellodigi.ru/img/time.svg');
    margin-top: -12px;
}

.single-page .main .short_description li.date:before {
    width: 22px;
    height: 24px;
    background-image: url('http://traveline.hellodigi.ru/img/date-2.svg');
    margin-top: -12px;
}

.single-page .main .short_description li:before {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
}

.nd_learning_box_sizing_border_box {
    box-sizing: border-box;
}

.nd_learning_left_0 {
    left: 0px;
}

.nd_learning_position_absolute {
    position: absolute;
}

.nd_learning_bg_greydark_alpha_gradient {
    background: -moz-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.65) 100%);
    background: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00656460', endColorstr='#a6656460', GradientType=0);
}

.nd_learning_padding_20 {
    padding: 20px;
}

.nd_learning_height_100_percentage {
    height: 100%;
}

.nd_learning_width_100_percentage {
    width: 100%;
    top: 0;
}


.nd_learning_border_bottom_2_solid_grey {
    border-bottom: 2px solid #f1f1f1;
}

.nd_learning_list_style_none {
    list-style: none;
}

.nd_learning_margin_0 {
    margin: 0px;
}

.nd_learning_padding_0 {
    padding: 0px;
}

.nd_learning_section {
    float: left;
    width: 100%;
    margin-top: 3rem;
}

.nd_learning_tabs .ui-tabs-active.ui-state-active {
    box-shadow: 0 2px 0 #174873;
}

.nd_learning_display_inline_block {
    display: inline-block;
    color: #727475;
}


.nd_learning_padding_20_15 {
    padding: 20px 15px;
}

ul+.nd_learning_display_inline_block {
    box-shadow: 0 2px 0 #174873
}

.nd_learning_section li a:hover {
    color: $color-primary-dark-hover;
}

.detials-area {
    &--gab {
        padding: 10rem 0;
    }

    &__left {
        display: flex;

        flex-direction: column;

        h1 {
            color: #727475;
            font-size: 3rem;
            line-height: 3rem;
            margin-bottom: 3rem;
        }
    }
}

.detials-banner__content {
    padding: 16rem 0 0rem 0;
    text-align: center;
}

.admin-image {
    float: left;
    width: 30px;
    height: 30px;
    display: table;
    margin: -6px 0px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 100%;
}

.admin-link {
    display: table;
    font-size: 1.6rem;
    color: #ec3323;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 47px;
    text-align: right;
    direction: rtl;
    width: 100%;
}

.admin-image {
    float: left;
    width: 60px;
    height: 60px;
    display: table;
    margin: -6px 0px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 100%;

    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.post-admin {
    z-index: 1;
    bottom: 20px;
    height: 30px;
    display: table;
    padding: 6px 0px;
    border-radius: 30px;
    padding-right: 20px;
    background-color: #ffffff;
    border: 1px solid #727475;
    min-width: 200px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.brand-area {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    position: relative;
}

.post-admin:hover {
    background-color: #eb751d;
    border: 1px solid #eb751d;


}

.post-admin:hover .admin-image {
    transform: scale(0.9);
}

.post-admin:hover a {
    color: #fff;
}

.brand__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    border: 1px solid #27272747;
}

.tag-share-links .title-text {
    font-size: 18px;
}

.ul-li-right>ul {
    margin: 0px;
    padding: 0px;
    float: right;
    display: table;
}

.ul-li-right {


    h3 {
        margin: 0px;
        padding: 0px;
        float: right;
        display: table;
        margin-bottom: 20px;
        padding-right: 15px;
        color: #fff
    }
}

.social-links>ul>li {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    float: left;
    list-style: none;
    display: inline-block;
}

.social-links.ul-li-right.text-right.clearfix {
    clear: both;
    position: absolute;
    right: 0;
    top: 16px;
}

.tag-share-links .social-links>ul>li>a {
    font-size: 14px;
    line-height: 40px;
}

.social-links>ul>li>a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 16px;
    line-height: 58px;
    border-radius: 100%;
    color: #7c8a97;
    border: 2px solid #e0deff;
    position: relative;

    i {
        font-size: 18px;
        color: #fff;
        position: absolute;
        top: 26%;
        left: 32%;
    }

    &:hover {
        border: 2px solid #eb751d;

        i {
            color: #eb751d;
        }
    }
}

.nd_learning_section.nd_learning_position_relative.relative .overlay.overlay-bg {
    background-color: #0000004d;
}

section.banner-area.detials-banner.relative.opportunity-banner {
    height: 60vh;
}

.rcs_sliderBox {
    background: transparent !important;
}

.rcs_arrowBtn.rcs_next,
.rcs_arrowBtn.rcs_previous {
    background: #757575;
    height: 30px;
    width: 30px;
    margin: 0 !important;
    font-size: 20px;
    border-radius: 2px;
    border: none;
    width: 62px !important;
    height: 62px !important;
    border-radius: 50% !important;
    background: #ffffff !important;
    position: absolute;
    top: 138px !important;

    margin-top: -31px !important;

}

.rcs_next:before,
.rcs_previous:before {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    content: '' !important;
    width: 20px;
    height: 14px;
    background: url(http://traveline.hellodigi.ru/img/slide-arrow.svg) center center no-repeat;
    background-size: contain;
    content: '';
    position: absolute;
    top: 12% !important;

    margin-top: -7px;
    margin-left: -10px;
}

.rcs_buttonSet .rcs_buttonWrapper {
    cursor: pointer;
    opacity: 1 !important;
}

.rcs_arrowBtn.rcs_next {
    left: 10px !important;
}

.rcs_arrowBtn.rcs_previous {
    left: 233px !important;
}

.rcs_previous:before {
    left: 31px;
    transform: rotate(180deg);
}

.rcs_next:before {
    left: 29px;

}

.rcs_sliderBox {
    height: 284px !important
}