@import '~bootstrap/dist/css/bootstrap.min.css';


@import "./abstracts/mixins";
@import "./abstracts/variables";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";


@import './components/search.scss';
@import './components/card.scss';
@import './components/nice-select.scss';
@import './components/share/share-icon.scss';
@import './components/share/favorite-icon.scss';

@import './layout/header.scss';
@import './layout/footer.scss';
@import './layout/banner.scss';



.wrap_float {
    float: right;
    text-align: right
}

.breadcrumbs {
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 50px;
    padding: 14px 0;
    z-index: 1;
    width: 100%;
    clear: both;

    &__first {
        color: $color-primary;

        &:hover {
            color: $color-primary;
        }
    }
}

@media screen and (max-width: 1600px) {
    .breadcrumbs {
        top: 63px;
    }
}

.single-page.tour-single {
    padding-bottom: 0;
}

@media screen and (max-width: 1440px) {
    .single-page {
        padding-top: 0px;
    }
}

.single-page .content-head {
    padding-bottom: 10px;
}

@media screen and (max-width: 1400px) {
    .page_content.tour-single .main {
        max-width: 500px;
    }
}

.page_content.tour-single .main {
    width: 500px;
}

.page_content.single-page {
    display: flex;
    justify-content: flex-start;
    direction: rtl;
    margin-bottom: 20px;
    max-width: 500px;
    float: right;
}

.single-page .main .title {
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 20px;

}

.single-page .main .short_description {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.short_description li {
    font-size: 1.3rem;
    color: #fff;
    position: relative;
    padding-right: 40px;
    margin-bottom: 10px;
    float: right;
}

.single-page .main .short_description li.time:before {
    width: 25px;
    height: 25px;
    background-image: url('./images/time.svg');
    margin-top: -12px;
}

.single-page .main .short_description li.date:before {
    width: 22px;
    height: 24px;
    background-image: url('./images/date.svg');
    margin-top: -12px;
}

.single-page .main .short_description li:before {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
}

.nd_learning_box_sizing_border_box {
    box-sizing: border-box;
}

.nd_learning_left_0 {
    left: 0px;
}

.nd_learning_position_absolute {
    position: absolute;
}

.nd_learning_bg_greydark_alpha_gradient {
    background: -moz-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.65) 100%);
    background: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00656460', endColorstr='#a6656460', GradientType=0);
}

.nd_learning_padding_20 {
    padding: 20px;
}

.nd_learning_height_100_percentage {
    height: 100%;
}

.nd_learning_width_100_percentage {
    width: 100%;
    top: 0;
}




.nd_learning_section {
    float: right;
    width: 100%;
    margin-top: 3rem;
    direction: rtl;
    padding: 0px;
    margin-top: 1rem;
    list-style: none;
    border-bottom: 2px solid #f1f1f1;
}

.nd_learning_tabs .ui-tabs-active.ui-state-active {
    box-shadow: 0 2px 0 #174873;
}

.nd_learning_display_inline_block {
    display: inline-block;
    color: #727475;
    float: right;

    a {
        padding: 20px 15px;
    }

}


.nd_learning_padding_20_15 {
    padding: 20px 15px;
}

ul li.ui-tabs-active {
    box-shadow: 0 2px 0 #174873
}

.nd_learning_section li a:hover {
    color: $color-primary-dark-hover;
}

.detials-area {
    &--gab {
        padding: 10rem 0;
    }

    &__left {
        display: flex;
        flex-direction: column;
        order: 2;

        h1 {
            color: #727475;
            font-size: 3rem;
            line-height: 3rem;
            margin-bottom: 3rem;
            direction: rtl;
            text-align: right;
        }
    }

    &__right {
        order: 1;

        .widget {
            padding: 2.5rem;
            margin-bottom: 40px;
            border: 1px solid #ddd;
            display: flex;
            flex-direction: column;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &:hover {
                border-color: $color-primary-dark-hover;
            }

            &:hover .icon-holder {
                top: -50px;
            }

            // &:hover .heading {
            //     top: -30px;
            // }
            &__top {
                display: flex;
                height: 70px;

                .icon-holder {
                    position: relative;
                    top: -14px;
                    display: inline-block;
                    margin-bottom: 40px;
                    padding: 10px;
                    left: 240px;
                    background: white;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    img {
                        width: 40px;
                    }
                }

                .widget_title {
                    height: 30px;
                    font-size: 20px;
                    direction: rtl;
                    text-align: right;
                    color: #727475;
                    margin-bottom: 1rem;
                    position: relative;
                    top: .5rem;
                    left: -50px;
                    width: 100%;
                    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }

            }

            ul.widget_tags li {
                display: inline-block;
                margin-bottom: 5px;
                margin-left: 5px;
                float: right;

                a {
                    font-size: 11px;
                    padding: 2px 10px;
                    margin: 2px;
                    background-color: #adadad;
                    display: inline-block;
                    color: #fff;
                    border-radius: 4px;
                    -webkit-transition: 0.5s;
                    -o-transition: 0.5s;
                    transition: 0.5s;
                }
            }

            ul.widget_list {
                width: 100%;
                margin: 0px;
                padding: 0px;
                display: table;

                li {
                    margin-bottom: 20px;

                    a {
                        width: 100%;
                        display: block;
                        padding-bottom: 1rem;
                        color: #7c8a97;
                        font-size: 1.4rem;
                        border-bottom: 1px solid #ddd;
                        text-align: right;
                        direction: rtl;
                        -webkit-transition: 0.5s;
                        -o-transition: 0.5s;
                        transition: 0.5s;

                        &:hover {
                            color: $color-primary-dark-hover
                        }
                    }
                }
            }

            &__contain {
                direction: rtl;
                text-align: right;
                font-size: 1.3rem
            }
        }
    }
}

.detials-banner__content {
    padding: 16rem 0 0rem 0;
    text-align: center;
}

.admin-image {
    float: left;
    width: 30px;
    height: 30px;
    display: table;
    margin: -6px 0px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 100%;
}

.admin-link {
    display: table;
    font-size: 1.6rem;
    color: #ec3323;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 47px;
    text-align: left;
    direction: rtl;
    width: 100%;
}

.admin-image {
    float: right;
    width: 60px;
    height: 60px;
    display: table;
    margin: -6px 0px;
    overflow: hidden;
    margin-left: 10px;
    border-radius: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.post-admin {
    z-index: 1;
    bottom: 20px;
    height: 30px;
    display: table;
    padding: 6px 0px;
    border-radius: 30px;
    padding-left: 20px;
    background-color: #ffffff;
    border: 1px solid #727475;
    min-width: 200px;
    float: right;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.brand-area {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.post-admin:hover {
    background-color: #eb751d;
    border: 1px solid #eb751d;


}

.post-admin:hover .admin-image {
    transform: scale(0.9);
}

.post-admin:hover a {
    color: #fff;
}

.brand__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    border: 1px solid #27272747;
}

.tag-share-links .title-text {
    font-size: 18px;
}

.ul-li-right>ul {
    margin: 0px;
    padding: 0px;
    float: left;
    display: table;
}

.ul-li-right {
    h3 {
        margin: 0px;
        padding: 0px;
        float: left;
        display: table;
        margin-bottom: 20px;
        color: #fff;
    }
}

.social-links>ul>li {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    float: left;
    list-style: none;
    display: inline-block;
}

.social-links.ul-li-right.text-right.clearfix {
    clear: both;
    position: absolute;
    left: 26px;
    top: 34px;
    display: flex;
    flex-direction: column;
}

.tag-share-links .social-links>ul>li>a {
    font-size: 14px;
    line-height: 40px;
}

.social-links>ul>li>a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 16px;
    line-height: 58px;
    border-radius: 100%;
    color: #7c8a97;
    border: 2px solid #ddd;
    position: relative;

    i {
        font-size: 18px;
        color: #fff;
        position: absolute;
        top: 26%;
        left: 32%;
    }

    &:hover {
        border: 2px solid #eb751d;

        i {
            color: #eb751d;
        }
    }
}

.nd_learning_section.nd_learning_position_relative.relative .overlay.overlay-bg {
    background-color: #0000004d;
}

section.banner-area.detials-banner.relative.opportunity-banner {
    height: 60vh;
}

.rcs_sliderBox {
    background: transparent !important;
}

.rcs_arrowBtn.rcs_next,
.rcs_arrowBtn.rcs_previous {
    background: #757575;
    height: 30px;
    width: 30px;
    margin: 0 !important;
    font-size: 20px;
    border-radius: 2px;
    border: none;
    width: 62px !important;
    height: 62px !important;
    border-radius: 50% !important;
    background: #ffffff !important;
    position: absolute;
    top: 138px !important;

    margin-top: -31px !important;

}

.rcs_next:before,
.rcs_previous:before {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    content: '' !important;
    width: 20px;
    height: 14px;
    background: url(./images/slide-arrow.svg) center center no-repeat;
    background-size: contain;
    content: '';
    position: absolute;
    top: 12% !important;

    margin-top: -7px;
    margin-left: -10px;
}

.rcs_buttonSet .rcs_buttonWrapper {
    cursor: pointer;
    opacity: 1 !important;
}

.rcs_arrowBtn.rcs_next {
    left: 10px !important;
}

.rcs_arrowBtn.rcs_previous {
    left: 233px !important;
}

.rcs_previous:before {
    left: 31px;
    transform: rotate(180deg);
}

.rcs_next:before {
    left: 29px;

}

.rcs_sliderBox {
    height: 284px !important
}

.nav-tap-area {
    text-align: right;
    margin-top: 3rem;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: #727475;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    &__description {
        margin-bottom: 35px;

        p {
            font-size: 1.4rem;
            direction: rtl;
            text-align: right;
        }
    }
}

.featured-badges {
    border-bottom: 0;
    border-left: 1px solid #ecebeb;
    padding: 0 0 0 35px;
    margin: 50px 0px 0 60px;
    text-align: center;
    order: 1;

    .badge {
        display: block;
        margin: 0 0 13px;
        width: 100px;

        img {
            width: 123px;
            filter: drop-shadow(0 2px 4px #A7A9AB);

            max-width: 100%;
            vertical-align: middle;
        }
    }
}