.favorite-icon {
    top: 1.2rem;
    z-index: 1;
    left: 2rem;
    position: absolute;
    font-size: 2.2rem;

    a {
        color: $color-white !important;

        &:hover span,
        &:focus span {
            transform: scale(2);
        }
    }

    &__tooltip {
        position: relative;
        display: inline-block;
        margin: -1rem 0;
        cursor: pointer;

        &:hover .tool-tip__info,
        &:focus .tool-tip__info {
            visibility: visible;
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }


        .tool-tip {
            &__info {
                box-sizing: border-box;
                position: absolute;
                bottom: 4rem;
                left: -4.3rem;
                display: block;
                background: $color-secondary-dark;
                min-width: 10.6rem;
                width: 10.5rem;
                font-size: 1rem;
                line-height: .9rem;
                cursor: text;
                visibility: hidden;
                color: $color-white;
                z-index: 999999;
                opacity: 0;
                transform: translate3d(0, -20px, 0);
                transition: all .5s ease-out;

                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 1.4rem;
                    bottom: -1.4rem;
                    left: 0;
                }

                &:after {
                    position: absolute;
                    content: '';
                    width: 1rem;
                    height: 1rem;
                    transform: rotate(45deg);
                    bottom: -.5rem;
                    left: 50%;
                    margin-left: -.5rem;
                    background: $color-secondary-dark;
                }
            }

            &__text {
                display: block;
                padding: 1.3rem 1.7rem;
            }
        }

    }

}